body {
  font-family: system-ui, -apple-system, "San Francisco", "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  font-size: 24px;
  width: 100vw;
  overflow-x: hidden;
}

section,
header {
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

h1, h2, h3 {
  margin: 28px 0;
  font-family: 'Crayonette DJR', cursive;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 4rem;
}

.number {
  margin-bottom: 0;
}

.number + p {
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  h1 {
  font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration-color: #cccccc;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: currentColor;
}
