body {
  font-family: system-ui, -apple-system, "San Francisco", "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 24px;
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  position: relative;
  z-index: 0;
  font-size: 8rem;
  line-height: 0.9em;
}

h1, h2 {
  margin: 28px 0;
}

.justify {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.justify > span:nth-of-type(odd) {
  text-align: left;
}

.justify > span:nth-of-type(even) {
  text-align: right;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 108px;
    width: calc(100% + 0.12em);
    margin-left: -0.06em;
    margin-top: -0.12em;
  }
}

@media screen and (max-width: 800px) {
  .justify {
    grid-template-columns: 1fr;
  }
}

h2, h3, h4, h5, h6 {
  white-space: pre-wrap;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration-color: #cccccc;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: currentColor;
}

span.space {
  margin: 0 .5em;
}

.countdown {
  font-variant-numeric: tabular-nums;
  text-transform: none;
  line-height: .9em;
}

.scroller {
  width: 80%;
  margin: 10px;
  overflow: visible;
  position: relative;
  margin: 100px auto;
}

.scroller svg {
  overflow: visible;
}

.scroller .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hoverchange:hover {
  position: relative;
  visibility: hidden;
}

.hoverchange:hover::before,
.hoverchange:hover::after {
  visibility: visible;
  white-space: nowrap;
  overflow-x: visible;
  position: absolute;
}

.hoverchange.timemit:hover::after {
  left: 0;
  content: "Eastern"
}

section {
  text-align: left;
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

section p {
  text-transform: none;
}

/* a11y */

.reducedmotion-only {
  visibility: hidden;
}

@media (prefers-reduced-motion) {
  .highmotion {
    visibility: hidden;
  }
  .reducedmotion-only {
    visibility: visible;
  }
}
