html {
  font-size: 24px;
}

body {
  color: #653508;
  background-color: #f5f0e6;
  font-family: 'Fern Web', system-ui, serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

section,
header {
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

header {
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, "San Francisco", "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header aside {
  font-size: min(1em, 5vw);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: auto;
  padding: 0.3em 0;
  border: 3px #653508;
  border-top-style: solid;
  border-bottom-style: solid;
}

header .logo {
  max-height: 12rem;
  max-width: 30%;
  margin: 1em;
}

#letter p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

h1, h2, h3 {
  margin: 28px 0;
  font-family: 'Crayonette DJR', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.number {
  margin-bottom: 0;
}

.number + p {
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  header aside {
    font-weight: 500;
    border-width: 2px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration-color: #cccccc;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: currentColor;
}
